body {
    margin: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif';
}

div {
    font-family: 'Candara';
    display: flex;
    width: 90vw;
    margin: 3vh;
    border: solid 2px #B6ED2B;
    border-radius: 20px;
    padding: 4vh;
    font-size: 2rem;
    color: #B6ED2B;
}

#buttons-block {
    justify-content: space-around;
    padding: 1vh;
}

button {
    font-family: 'Candara';
    background-color: #B6ED2B;
    color: black;
    font-size: 2.2rem;
    width: 30vw;
    border-radius: 8px;
    font-weight: bold;
}

div.registration {
    display: none;
    flex-direction: column;
    padding: 1vh;
}


div.registration * {
    width: auto;    
    margin: 1vh;
}
div.registration input {
    width: 50%;    
    margin: 1vh;
    font-size: 2.2rem;
    border: solid 1px #B6ED2B;
}

#checkbox-group {
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    flex-direction: row;
}
#checkbox-group label {
    font-size: 1.3rem;
}
#checkbox-group input {
    outline: none;
    flex-grow: 0;
    flex-basis: 2%;
    width: 1.5rem;
}
.error-message {
    position: relative;
    color: red;
    font-size: 1rem;
    bottom: 1vh;
}