<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../static/css/auth.css">
	<title>Авторизация</title>
</head>
<body>
	<div class="main-container">
		<label>Войдите в аккаунт JSwiper</label>
		<label class="reg-label">Нет аккаунта? <a href="/">Зарегистрируйтесь</a> прямо сейчас!</label>
		<input type="text" id="login" placeholder="Логин">
		<input type="password" id="pass" placeholder="Пароль">
		<button id="log_in">Войти</button>
	</div>
</body>
<script src="../static/scripts/ui/auth.js"></script>
</html>